<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{% block title %}__PROJECT_TITLE__{% endblock title %}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{# Place favicon.ico and apple-touch-icon.png in the root directory #}

		<link rel="stylesheet" id="caboose" href="{{ STATIC_URL }}css/style.css" />

		{# All JavaScript at the bottom, except for Modernizr. #}
		{% if settings.TEMPLATE_DEBUG %}
		<script src="{{ STATIC_URL }}js/libs/modernizr/index.js"></script>
		{% else %}
		<script src="{{ STATIC_URL }}js/libs/modernizr/modernizr.min.js"></script>
		{% endif %}
	</head>
	<body>
		<div id="container">
			<header>
				<nav role="navigation">
					<ul>
						<li><a href="/index.html">Home</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</nav>
			</header>
			<div id="main" role="main">
				{% block content %}{% endblock content %}
			</div>
		</div>

		{% if settings.TEMPLATE_DEBUG %}
		<script src="{{ STATIC_URL }}js/libs/requirejs/index.js"></script>
		<script src="{{ STATIC_URL }}js/config.js"></script>

		<script>
			require.config({
				baseUrl : "{{ STATIC_URL }}js",
				urlArgs : "cacheBust=" + (new Date()).getTime()
			});
		</script>

		{# LiveReload #}
		<script>
			(function (doc) {
				try {
					var script = doc.createElement("script"),
						first = doc.scripts[0];

					script.src = "//" + (location.host || "localhost").split(":")[0] + ":35729/livereload.js";
					first.parentNode.insertBefore(script, first);
				} catch (e) {}
			}(document));
		</script>
		{% else %}
		<script src="{{ STATIC_URL }}js/libs/requirejs/require.min.js"></script>

		<script>
			require.config({
				baseUrl : "{{ STATIC_URL }}js",
				paths : {
					"__PROJECT_NAME__/Site" : "site.min"
				}
			});
		</script>
		{% endif %}
		<script>
			require(["__PROJECT_NAME__/Site"], function (Site) {
				Site.initialize({
					"STATIC_URL": "{{ STATIC_URL }}"
				});
			});
		</script>

		{# Chrome Frame prompt for IE9 and below. #}
		{# See: project/source/js/libs/rosy-google-chrome-frame for more info. #}
		<!--[if lte IE 9]>
		<script>
			require(["libs/rosy-google-chrome-frame/ChromeFrame"]);
		</script>
		<![endif]-->
	</body>
</html>
